fastapi
uvicorn
langgraph
langchain
langchain-google-genai
langchain-openai
pydantic[email]
sqlalchemy
psycopg2-binary
python-multipart
pymupdf
websockets
python-jose[cryptography]
passlib[bcrypt]
bcrypt<5
python-dotenv
reportlab
aiohttp
faster-whisper
openai
pydub
python-docx
pytest
pytest-mock
google-generativeai
